# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
main.elf
main.bin
main.hex
main.map
main.gba
*.o
*.a
*.d
*.gdb
*.sav

# Exclude Mac OS X temporary
._*
.DS_Store

# Exclude VScode files
.vscode
